<div class="posts">
  {{#each postInfo}}
    <article class="card">
      <header class="card-header">
        <p class="card-header-title">
          <a href="/blogpost/{{id}}">{{title}}</a>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          {{body}}
        </div>
        <p class="subtitle is-size-7">
          Posted by
          <span class="mr-1">{{user.username}}</span>
          on
          <span>{{format_date createdAt}}</span>
        </p>
      </div>
    </article>
  {{/each}}
</div>