<div class="post">
  <article class="card">
    <header class="card-header">
      <p class="card-header-title">
        {{post.title}}
      </p>
    </header>
    <div class="card-content">
      <p class="title">
        {{post.body}}
      </p>
      <p class="subtitle">
        Posted by
        <span class="mr-1">{{post.user.username}}</span>
        on
        <span>{{format_date post.createdAt}}</span>
      </p>
    </div>
    {{#if isPostOwner}}
      <footer class="card-footer">
        <a href="/edit-post/{{post.id}}" class="btn" id="editPostForm">Edit</a>
        <button id="deletePostBtn" class="btn btn-danger">Delete Post</button>
      </footer>
    {{/if}}
  </article>

  {{#if post.comments}}
    <section class="card">
      <div class="card-header">
        <h3>Comments</h3>
      </div>

      <div class="card-body">
        {{#each post.comments}}
          <div>
            <p>
              {{body}}
            </p>
            <p>
              &mdash;
              {{user.username}},
              {{format_date createdAt}}
            </p>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}

  <form id="new-comment-form" class="card">
    <div class="card-header">
      <h3>Add New Comment</h3>
    </div>

    <div class="card-body">
      <input type="hidden" name="post-id" value="{{post.id}}" />

      <label class="form-label" for="comment-body">Comment</label>

      <textarea name="comment-body" class="form-input"></textarea>

      <button type="submit" class="btn">Submit</button>
    </div>
  </form>

</div>

<script src="/js/comment.js"></script>
<script src="/js/edit.js"></script>